@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,600;1,300;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
    --black: #000000;
    --pink1: #fe80b6;
    --pink2: #D60EC6;
    --purple: #5E0B46;
    --blue: #2a234e;
    --regular-font:'Josefin Sans', sans-serif;
    --roboto-font : 'Share Tech Mono', monospace;
    /* --roboto-font : 'Source Code Pro', monospace; */
}

body{
    font-family: var(--regular-font);
}

/*********navbar*********/
#navigation{
    padding-inline: 10vw;
    background-color: var(--black);
    box-shadow: 0 1px 5px rgb(0, 0, 0);
    height: 15vh;
}

#navbar-logo{
    height: 13vh;
}

.navigation-item{
    font-family: var(--roboto-font);
    width: 21ch;
    padding-block: 1vh;
    border: solid 3px rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.75);
    transition: all 0.8s ease;
}
.navigation-item:hover{
    border: solid 3px var(--pink2);
    padding-left: 2ch;
    color : var(--pink2);
    box-shadow: 0px 0px 5px #D60EC6;
}
.navigation-link{
    color: inherit;
    text-decoration: none;
}
.navigation-link:hover{
    color: var(--pink2);
    text-decoration: none;
}


/*********hero Section*******/
#hero{
    background-image: linear-gradient(to right, var(--purple), var(--pink2));
    height: 85vh;
}


/*********description*******/
#description{
    height: 100vh;
}



/********gallery*********/
#gallery,
#dragger,
#ring,
.img,
.vignette {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    user-select: none;
}

#gallery {
    overflow: hidden;
    background: black;
    height: 100vh;
    width: 100vw;
}

/* #gallery div {
    position: absolute;
} */

#ring>.img {
    background-color: var(--blue);
    position: absolute;
}

.ring-container {
    position: absolute;
    perspective: 2000px;
    width: 300px;
    height: 60vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#ring {
    position: absolute;
}

#dragger {
    position: absolute;
}

.vignette {
    width: 1400px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(to left, black 12%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 60%, black 88%);
    position: absolute;
}