@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,600;1,300;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
    --black: #000000;
    --pink1: #fe80b6;
    --pink2: #D60EC6;
    --purple: #5E0B46;
    --blue: #2a234e;
    --regular-font:'Josefin Sans', sans-serif;
    --roboto-font : 'Share Tech Mono', monospace;
    /* --roboto-font : 'Source Code Pro', monospace; */
}

body{
    font-family: var(--regular-font);
}

.section-title{
    margin: 5vh 10vw;
    text-align: center;
}

/*********navbar*********/
#navigation{
    padding-inline: 10vw;
    background-color: var(--black);
    box-shadow: 0 1px 5px rgb(0, 0, 0);
    height: 15vh;
}

#navbar-logo{
    height: 13vh;
}

.navigation-item{
    font-family: var(--roboto-font);
    width: 21ch;
    padding-block: 1vh;
    border: solid 3px rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.75);
    transition: all 0.8s ease;
}
.navigation-item:hover{
    border: solid 3px var(--pink2);
    padding-left: 2ch;
    color : var(--pink2);
    box-shadow: 0px 0px 5px #D60EC6;
}
.navigation-link{
    color: inherit;
    text-decoration: none;
}
.navigation-link:hover{
    color: var(--pink2);
    text-decoration: none;
}


/*********hero Section*******/
#hero{
    background-image: linear-gradient(to right, var(--purple), var(--pink2));
    height: 85vh;
}


/*********description*******/
#description{
    height: 100vh;
}



/********gallery*********/
#gallery,
#dragger,
#ring,
.img,
.vignette {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    user-select: none;
}

#gallery {
    overflow: hidden;
    background: black;
    height: 100vh;
}

#gallery > .section-title{
    color: white;
    margin-top: 10vh;
}

#ring>.img {
    /* background-color: var(--blue); */
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ring-container {
    position: absolute;
    perspective: 2000px;
    width: 300px;
    height: 60vh;
    left: 50%;
    top: calc(50% + 10vh);
    transform: translate(-50%, -50%);
}

#ring {
    position: absolute;
}

#dragger {
    position: absolute;
}

.vignette {
    width: 1400px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(to left, black 12%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 60%, black 88%);
    position: absolute;
}

/*************rules*******************/



/*************prizes*******************/



/*************partners*******************/



/*************sponsors*******************/






/*********************register*********************/
@import "compass/css3";
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

#register{
    height: 100vh;
    font-family: var(--roboto-font);
    font-size: 1.13em;
    font-weight: bold;
    padding: 10vh 10vw;
    background-color: #000000;
    color: white;
}

.btn-3d {
    color: black;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 0.075em;
    width: calc(150px + 10vw);
    text-align: center;
    padding: 0.8em 1em;
    margin: auto 2em;
    position: relative;
    align-self: center;
    text-transform: uppercase;
    border: 3px var(--pink2) solid;
    border-color: var(--pink2);  /* color of border top and right for the right button*/
    border-image-slice: 1 1 0 0;
    z-index: 1;
    box-shadow: -0.5em 0.5em rgba(16, 24, 50, 0);
    transform-origin: left bottom;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.btn-3d:before,
.btn-3d:after {
    border: 3px var(--pink2) solid;
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
}

.btn-3d:before {
    border-image: linear-gradient(45deg, var(--blue) 0%, var(--pink2) 100%); /**color of the left side both buttons*/
    border-image-slice: 1 1 0 1;
    left: -0.59em;
    top: 0.15em;
    width: 0.31em;
    height: 100%;
    transform: skewY(-45deg);
}

.btn-3d:after {
    border-image: linear-gradient(45deg, var(--blue) 0%, var(--pink2) 100%); /** color of the bottom both buttons*/
    border-image-slice: 1 1 1 0;
    bottom: -0.61em;
    right: 0.16em;
    width: 100%;
    height: 0.31em;
    transform: skewX(-45deg);
}

.btn-3d:hover {
    background-color:#2a234e75;
    opacity: 0.9;
    background-size: 150%;
    transform: translate(0.5em, -0.5em);
    box-shadow: -1em 1em 0.15em rgba(16, 24, 50, 0.1);
}

.btn-3d:hover:before {
    height: calc(100% - .13em);
    border-image-slice: 1;
}

.btn-3d:hover:after {
    width: calc(100% - .13em);
    border-image-slice: 1;
}

.cta {
    background: linear-gradient(45deg, var(--blue) 0%, var(--purple) 100%);
    border-color: var(--pink2);
    border-image-slice: 1;
    color: white;
}

.cta:before {
    border-image-slice: 1;
    left: -0.75em;
    top: 0.15em;
}

.cta:after {
    border-image-slice: 1;
    bottom: -0.75em;
    right: 0.15em;
}

.cta:hover {
    background: linear-gradient(45deg, var(--blue) 0%, var(--purple) 100%);
    opacity: 0.9;
    border-image: linear-gradient(45deg, var(--purple) 0%, var(--pink2) 100%);
    border-image-slice: 1;
}

.cta:hover:before {
    height: 100%;
}

.cta:hover:after {
    width: 100%;
}


/*************place*******************/