@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
/* * {font-family: 'Share Tech Mono';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */
/* *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
#bg{
    opacity: 0.2;
    position: relative;
    width: 100vw;
}
body{overflow-x:hidden}
#anim {
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d1e2280;
    background-image: radial-gradient(rgba(66, 195, 200, 0.2), #1d1e22 120%);
}
#anim::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(0deg, rgba(29, 30, 34, 0.5), rgba(29, 30, 34, 0.5) 1px, transparent 1px, transparent 2px);
    pointer-events: none;
}
::selection {
    background: #a5e5d4;
    color: #1d1e22;
    text-shadow: none;
}

@keyframes an {
    0%, 50% {
        ph: visible;
   }
    51%, 100% {
        ph: hidden;
   }
}
#yes,#blink{
    pointer-events: stroke;     color: #8bffde;
}

.reply{
    transform: translateY(100px);
}
#test,.reply {
    position: absolute;
    padding: 30px;
    font-size: px;
    color: #8bffde;
    will-change: contents, width;
    font-family: 'Share Tech Mono';
    text-shadow: 2px 4px 10px rgba(165, 229, 212, 0.5);
}
#test::after, #test::before, .reply::after,.reply:before {
    content: attr(data-gw-string);
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    overflow: hidden;
    white-space: nowrap;
    color: #42c3c8;
    will-change: contents, width;
}
#test::before,.reply::before {
    z-index: 2;
    color: #d93da5;
}
#test.gw-writing,.reply.gw-writing {
    animation: glitch-skew 1s steps(10, end) infinite alternate-reverse;
}
#test.gw-writing .gw-ghosts, #test.gw-writing .gw-glitched , .reply.gw-writing .gw-ghosts, .reply.gw-writing .gw-glitched{
    opacity: 0.6;
    animation: glitch-blink 1s steps(20, end) infinite alternate-reverse;
}
#test.gw-writing::after, #test.gw-writing::before, .reply.gw-writing::after, .reply.gw-writing::before {
    opacity: 1;
}
#test.gw-writing::after,.reply.gw-writing::after {
    animation: glitch-animation-1 1.5s steps(20, end) infinite alternate-reverse;
}
#test.gw-writing::before,.reply.gw-writing::after {
    animation: glitch-animation-2 2s steps(20, end) infinite alternate-reverse;
}
@keyframes glitch-skew {
    0% {
        transform: skew(3deg);
   }
    10% {
        transform: skew(-4deg);
   }
    20% {
        transform: skew(-1deg);
   }
    30% {
        transform: skew(-3deg);
   }
    40% {
        transform: skew(4deg);
   }
    50% {
        transform: skew(5deg);
   }
    60% {
        transform: skew(3deg);
   }
    70% {
        transform: skew(5deg);
   }
    80% {
        transform: skew(2deg);
   }
    90% {
        transform: skew(-2deg);
   }
    100% {
        transform: skew(-4deg);
   }
}
@keyframes glitch-blink {
    0% {
        opacity: 0.4;
   }
    5% {
        opacity: 0.2;
   }
    10% {
        opacity: 0.2;
   }
    15% {
        opacity: 1;
   }
    20% {
        opacity: 0.5;
   }
    25% {
        opacity: 1;
   }
    30% {
        opacity: 0.6;
   }
    35% {
        opacity: 0.1;
   }
    40% {
        opacity: 0.2;
   }
    45% {
        opacity: 0.7;
   }
    50% {
        opacity: 0.6;
   }
    55% {
        opacity: 0.9;
   }
    60% {
        opacity: 0.2;
   }
    65% {
        opacity: 0.8;
   }
    70% {
        opacity: 1;
   }
    75% {
        opacity: 0.6;
   }
    80% {
        opacity: 0.8;
   }
    85% {
        opacity: 0.2;
   }
    90% {
        opacity: 0.8;
   }
    95% {
        opacity: 0.2;
   }
    100% {
        opacity: 0.8;
   }
}
@keyframes glitch-animation-1 {
    0% {
        clip: rect(15px, 1000px, 7px, 0);
        transform: skew(-5deg) translatex(10px);
   }
    5% {
        clip: rect(17px, 1000px, 44px, 0);
        transform: skew(-6deg) translatex(12px);
   }
    10% {
        clip: rect(99px, 1000px, 84px, 0);
        transform: skew(-4deg) translatex(0px);
   }
    15% {
        clip: rect(56px, 1000px, 9px, 0);
        transform: skew(7deg) translatex(-8px);
   }
    20% {
        clip: rect(92px, 1000px, 68px, 0);
        transform: skew(6deg) translatex(-3px);
   }
    25% {
        clip: rect(55px, 1000px, 8px, 0);
        transform: skew(-5deg) translatex(7px);
   }
    30% {
        clip: rect(87px, 1000px, 98px, 0);
        transform: skew(-3deg) translatex(-10px);
   }
    35% {
        clip: rect(90px, 1000px, 4px, 0);
        transform: skew(6deg) translatex(1px);
   }
    40% {
        clip: rect(78px, 1000px, 6px, 0);
        transform: skew(0deg) translatex(14px);
   }
    45% {
        clip: rect(91px, 1000px, 88px, 0);
        transform: skew(4deg) translatex(-13px);
   }
    50% {
        clip: rect(46px, 1000px, 6px, 0);
        transform: skew(0deg) translatex(5px);
   }
    55% {
        clip: rect(34px, 1000px, 22px, 0);
        transform: skew(0deg) translatex(1px);
   }
    60% {
        clip: rect(6px, 1000px, 68px, 0);
        transform: skew(2deg) translatex(-9px);
   }
    65% {
        clip: rect(58px, 1000px, 16px, 0);
        transform: skew(6deg) translatex(-11px);
   }
    70% {
        clip: rect(85px, 1000px, 78px, 0);
        transform: skew(1deg) translatex(-10px);
   }
    75% {
        clip: rect(76px, 1000px, 8px, 0);
        transform: skew(-3deg) translatex(-6px);
   }
    80% {
        clip: rect(35px, 1000px, 51px, 0);
        transform: skew(-3deg) translatex(-5px);
   }
    85% {
        clip: rect(21px, 1000px, 70px, 0);
        transform: skew(-7deg) translatex(-14px);
   }
    90% {
        clip: rect(86px, 1000px, 72px, 0);
        transform: skew(7deg) translatex(-13px);
   }
    95% {
        clip: rect(90px, 1000px, 38px, 0);
        transform: skew(-1deg) translatex(8px);
   }
    100% {
        clip: rect(28px, 1000px, 26px, 0);
        transform: skew(0deg) translatex(8px);
   }
}
@keyframes glitch-animation-2 {
    0% {
        clip: rect(73px, 1000px, 72px, 0);
        transform: skew(-4deg) translatex(3px);
   }
    5% {
        clip: rect(13px, 1000px, 1px, 0);
        transform: skew(-1deg) translatex(0px);
   }
    10% {
        clip: rect(15px, 1000px, 9px, 0);
        transform: skew(1deg) translatex(10px);
   }
    15% {
        clip: rect(46px, 1000px, 18px, 0);
        transform: skew(1deg) translatex(-6px);
   }
    20% {
        clip: rect(28px, 1000px, 1px, 0);
        transform: skew(5deg) translatex(-5px);
   }
    25% {
        clip: rect(52px, 1000px, 97px, 0);
        transform: skew(-2deg) translatex(0px);
   }
    30% {
        clip: rect(65px, 1000px, 2px, 0);
        transform: skew(2deg) translatex(-1px);
   }
    35% {
        clip: rect(88px, 1000px, 7px, 0);
        transform: skew(0deg) translatex(-8px);
   }
    40% {
        clip: rect(33px, 1000px, 100px, 0);
        transform: skew(-3deg) translatex(2px);
   }
    45% {
        clip: rect(3px, 1000px, 4px, 0);
        transform: skew(1deg) translatex(4px);
   }
    50% {
        clip: rect(10px, 1000px, 13px, 0);
        transform: skew(4deg) translatex(-6px);
   }
    55% {
        clip: rect(62px, 1000px, 39px, 0);
        transform: skew(2deg) translatex(2px);
   }
    60% {
        clip: rect(83px, 1000px, 21px, 0);
        transform: skew(-4deg) translatex(-1px);
   }
    65% {
        clip: rect(60px, 1000px, 51px, 0);
        transform: skew(-2deg) translatex(8px);
   }
    70% {
        clip: rect(26px, 1000px, 46px, 0);
        transform: skew(4deg) translatex(-5px);
   }
    75% {
        clip: rect(65px, 1000px, 24px, 0);
        transform: skew(-2deg) translatex(10px);
   }
    80% {
        clip: rect(60px, 1000px, 9px, 0);
        transform: skew(4deg) translatex(10px);
   }
    85% {
        clip: rect(38px, 1000px, 13px, 0);
        transform: skew(2deg) translatex(-6px);
   }
    90% {
        clip: rect(80px, 1000px, 89px, 0);
        transform: skew(1deg) translatex(-2px);
   }
    95% {
        clip: rect(23px, 1000px, 77px, 0);
        transform: skew(4deg) translatex(3px);
   }
    100% {
        clip: rect(79px, 1000px, 29px, 0);
        transform: skew(5deg) translatex(3px);
   }
}

.glitch{
    opacity: 0;
    width: 30vw;
    transition: opacity 1s;
   
}
.bou{
    transition: opacity 1s;
}
#blink{
    animation: blinker 0.9s linear infinite;
    display:none
}
@keyframes blinker {
    50%{
        opacity: 0;
    }
    
}
/************************************/

