.container,.container2,.container3,.container4{
    display: block;
	height: 100vh;
	width: 100vw;
}
canvas{width: 100vw;
height: 100vh;
position: absolute;
z-index: 1;
display: none;}
canvas:first-child{display:block};

*{margin:0;}

#pagination{
	position: absolute;
	z-index: 999999;
	top: 50%;
	transform: translateY(-50%);
	right: 30px;
}
button {
	display: block;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 0;
	width: 16px;
	height: 16px;
	background-color: #fff;
	border-radius: 100%;
	padding: 0;
	margin: 30px 10px;
	cursor: pointer;
	position: relative;
	opacity: 0.2;
	transition: opacity 0.2s ease-in-out;
	outline: none;
}
button:hover {
	opacity: 0.5;
}
button.active {
	opacity: 1;
}
button.active:before {
	width: 300%;
	height: 300%;
	opacity: 1;
}
button:before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	border-radius: 100%;
	border: 1px solid rgba(255, 255, 255, 0.2);
	opacity: 0;
	transition: opacity 0.4s ease-in-out, width 0.4s ease-in-out, height 0.4s ease-in-out;
}

